<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lerot.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lerot</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1442833067429499</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1442833067429499</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>19010ec70fc3b24051a77d1394cc2416</string>
	<key>FacebookDisplayName</key>
	<string>Lerot</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
		<string>tiktok</string>
		<string>comgooglemaps</string>
		<string>tweetie</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>mqq</string>
		<string>itms-apps</string>
		<string>itms-services</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Baigo-Regular.ttf</string>
		<string>MiSans-Regular.ttf</string>
		<string>MiSans-Semibold.ttf</string>
		<string>Neoneon.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAuthorizationOptions</key>
		<array>
			<string>alert</string>
		</array>
	</dict>
</dict>
</plist>
